{% extends 'fgallery/base_gallery.html' %}

{% block title %}Новый альбом | {{ block.super }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
{% endblock %}

{% block breadcrumbs %} - <a href="{% url gallery_index %}">Галерея</a> - Новый альбом{% endblock %}

{% block contentclass %}gallery-album{% endblock %}
{% block content %}
<h1>Новый альбом</h1>

<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
{{ forma.as_p }}
<hr />
<table id="photoform">
{% for form in formset.forms %}
    <tr><td>{{ form.id}} {{ form.image }}<br />{{ form.title }}</td></tr>
{% endfor %}
</table>
{{ formset.management_form }}
<br />
<input type="submit" value="Save" />
</form>

<script type="text/javascript">
$(document).ready(function(){
    $("#photoform tr").formset();
});
</script>

{% endblock %}
