{% extends 'fgallery/base_gallery.html' %}
{% load thumbnail %}

{% block title %}{{ album.title }} | {{ block.super }}{% endblock %}

{% block breadcrumbs %} - <a href="{% url gallery_index %}">Галерея</a> - Альбом{% endblock %}

{% block content %}
<h1>{{ album.title }}</h1>

<div id="album-tools"><a href="{% url album_edit album.id %}">edit</a></div>
<br />
<div id="album-photos">
{% for object in object_list %}
    <a href="{{ object.get_absolute_url }}"><img src="{% thumbnail object.image 128x128 %}" /></a>
{% endfor %}
</div>
{% endblock %}
