{% extends 'fgallery/base_gallery.html' %}

{% block breadcrumbs %} - Галерея{% endblock %}

{% block contentclass %}gallery{% endblock %}

{% block content %}
<h1>Альбомы</h1>

<ul id="gallery-albums">
{% for object in object_list %}
    <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a> (<a href="{% url album_edit object.id %}">edit</a> <a id="link" onclick="return confirm('Удалить объект?')" href="{% url album_delete object.id %}">delete</a>)</li>
{% endfor %}
</ul>
{% endblock %}
