{% extends 'fgallery/base_gallery.html' %}

{% block title %}{% if album %}Редактирование альбома{% else %}Новый альбом{% endif %} | {{ block.super }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
{% endblock %}

{% block breadcrumbs %} - <a href="{% url gallery_index %}">Галерея</a> - {% if album %}<a href="{{ album.get_absolute_url }}">Альбом</a> - Редактирование{% else %}Новый альбом{% endif %}{% endblock %}

{% block contentclass %}gallery-album{% endblock %}
{% block content %}
<h1>{% if album %}Редактирование альбома{% else %}Новый альбом{% endif %}</h1>

<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
{{ forma.as_p }}
<hr />
<table id="photoform">
{% for form in formset.forms %}
    <tr><td>{{ form.id}} {{ form.image }}<br />{{ form.title }}</td></tr>
{% endfor %}
</table>
{{ formset.management_form }}
<br />
<input type="submit" value="Save" />
</form>

<script type="text/javascript">
$(document).ready(function(){
    $("#photoform tr").formset();
});
</script>

{% endblock %}
